#testeh2{
    color: red !important;
}
.grow{
    flex-grow: 1;
}

header{
  width: 100vw;
  z-index: 1;
  background-color: white;
}

.invalido {
  border: 1px solid #ff0000; }

.text-muted {
  display: none; }

small.text-muted {
  color: blue !important; }

.profile-picture-small{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-regular{
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-big{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture{
  width: 100%;
}

#texto{
  color:#f00;
}

.post_image{
  width: 100%;
}

.remove_img_btn{
  padding: 10px;
  border-radius: 50%;
}

#texto_teste{
  font-size: 10rem !important;
}

#editPostModal .modal-content{
  height: 30rem;
}

#text_content{
  height: 100% !important;
  resize: none;
}

/* #createPostModalcontent{
  height: 20rem !important;
} */

/* #carouselCreatePostImage{
  height: 50rem;
} */

#user-painel{
  background-color: gray;
  padding: 2.5rem;
  border-radius: 20px;
  color: #ffff;
  position: fixed;
  top: 80px;
}


@media (max-width: 768px){
  #user-painel{
    position: relative;
  }

}

