#testeh2{
    color: red !important;
}
.grow{
    flex-grow: 1;
}

.invalido {
  border: 1px solid #ff0000; }

.text-muted {
  display: none; }

small.text-muted {
  color: blue !important; }

#avatar-container{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#avatar-post-container{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#avatar{
  width: 100%;
}

#avatar-user-container{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

#avatar-user{
  width: 100%;
}

#texto{
  color:#f00;
}

.post_image{
  width: 100%;
}

.remove_img_btn{
  padding: 10px;
  border-radius: 50%;
}

#texto_teste{
  font-size: 10rem !important;
}