{% extends 'base.html' %}

{% block content %}

<div class="row d-flex flex-column align-items-center">
    <div class="col-12 col-md-9">
        {% for post in feed %}
        <div class="card rounded-4 my-3">
            <div class="card-header d-flex flex-row align-items-center justify-content-between">
                <div class="user_info d-flex flex-row align-items-center gap-3">
                    <a class="fs-5 fw-regular p-0 m-0 text-body link-underline link-underline-opacity-0 d-flex flex-row align-items-center gap-2"
                        href="{% url 'user_detail' post.author %}">
                        {% if post.author.profile_picture %}
                        <div class="profile-picture-small">
                            <img class="profile-picture" src="{{ post.author.profile_picture }}"
                                alt="Author profile picture">
                        </div>
                        {% endif %}
                        {{ post.author }}
                    </a>
                </div>
                {% if post.author.username == user.username %}
                <div class="float-end">
                    <button class="btn bi bi-three-dots-vertical border-1" data-bs-toggle="dropdown"
                        aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item d-flex">
                            <button id="deletePost"
                                class="btn btn-danger bi bi-trash3 border-1 d-flex flex-row-reverse align-items-center w-100"
                                data-post-delete-slug="{{post.slug}}">
                                <p class="m-0 me-2 p-0">Delete Post</p>
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button
                                class="btn btn-secondary bi bi-pencil border-1 edit-post-btn d-flex flex-row-reverse align-items-center w-100"
                                data-bs-toggle="modal" data-bs-target="#editPostModal" data-post-slug="{{ post.slug }}"
                                data-file-content="{% for file in post.files.all %}{{ file.arq_content.url }} {% endfor %}"
                                data-text-content="{{ post.text_content }}">
                                <p class="m-0 me-2 p-0">Edit Post</p>
                            </button>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                {{ post.text_content }}
                {% if post.files.count > 1 %}
                <div id="{{post.slug}}-carousel" class="carousel slide rounded-2" data-bs-ride="false">
                    <div class="carousel-inner rounded-2">
                        {% for image in post.files.all %}
                        <img class="carousel-item active post_image rounded-2 mt-4" src="{{ image.arq_content.url }}">
                        {% endfor%}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#{{post.slug}}-carousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#{{post.slug}}-carousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
                {% else %}
                <div class="post-img-container">
                    {% for image in post.files.all %}
                    <img class="carousel-item active post_image rounded-2 mt-4" src="{{ image.arq_content.url }}">
                    {% endfor%}
                </div>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if post in liked_posts %}
                <button class="btn btn-dislike-post bi bi-heart-fill"
                    data-dislike-post-url="{% url 'dislike_post' post.slug %}">
                    {{ post.likes.count }}</button>

                {% else %}

                <button class="btn btn-like-post" data-like-post-url="{% url 'like_post' post.slug %}">
                    {{ post.likes.count }} <i class="bi bi-heart"></i></button>
                {% endif %}
                <a class="btn bi bi-chat" href="{% url 'post_detail' post.slug%}"> {{ post.comments.count }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <form id="editPostForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="edit-post-slug" name="slug">
        <div class="modal-dialog modal-lg border-0">
            <div class="modal-content container h-auto">
                <div class="modal-header d-flex flex-row justify-content-between">
                    <button type="button" class="btn m-0 p-1" data-bs-dismiss="modal" aria-label="Close"><i
                            class="bi bi-x fs-5 m-0 p-0"></i></button>
                    <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="modal-body row d-flex flex-column position-relative">

                    <div class="mb-3 col-12 float-start position-relative">
                        <div class="input-group">
                            <input type="text" class="form-control" name="text_content" id="text_content"
                                aria-describedby="basic-addon3 basic-addon4">
                        </div>
                    </div>

                    <div class="col-12 position-relative">
                        <div class="image_container_edit position-relative">
                            <div id="carousel-post-files" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-inner h-100 w-100" id="preview-post-file-edit">

                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel-post-files" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel-post-files" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- <label for="uploadFileInput" class="btn btn-primary position-absolute bottom-0 end-0 m-3">
                    <i class="bi bi-image"></i>
                    <input type="file" id="uploadFileInput" name="files" style="display: none;">
                </label> -->
            </div>
        </div>
    </form>
</div>




<script>
    $(document).ready(function () {


        $('.edit-post-btn').click(function () {
            $('#preview-post-file-edit').empty();
            var postSlug = $(this).data('post-slug');
            var textContent = $(this).data('text-content');
            var fileContent = $(this).data('file-content').split(' ');

            $('#edit-post-slug').val(postSlug);
            $('#text_content').val(textContent);

            fileContent.forEach(function (fileUrl) {
                if (fileUrl.toLowerCase().endsWith('.jpg') || fileUrl.toLowerCase().endsWith(
                        '.jpeg') || fileUrl.toLowerCase().endsWith('.png')) {
                    var carouselItem = '<div class="carousel-item active"><img src="' +
                        fileUrl +
                        '" class="d-block w-100" alt="Imagem"></div>';
                    $('#preview-post-file-edit').append(carouselItem);
                }
            });
        });

        // $('#uploadFileInput').change(function () {
        //     var reader = new FileReader();
        //     reader.onload = function (e) {
        //         var fileUrl = e.target.result;
        //         var carouselItem = '<div class="carousel-item active"><img src="' + fileUrl +
        //             '" class="d-block w-100" alt="Imagem"></div>';
        //         $('#preview-post-file-edit').append(carouselItem);

        //         $('#uploadFileInput').attr('src', fileUrl);
        //     };
        //     reader.readAsDataURL(this.files[0]);
        // });

        $('#editPostForm').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            var postSlug = $('#edit-post-slug').val();
            $.ajax({
                url: '/posting/feed/' + postSlug + '/update/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {}
            });
        });

        $('#deletePost').on('click', function (e) {
            e.preventDefault();

            var PostSlugdelete = $(this).data('post-delete-slug')

            $.ajax({
                url: '/posting/feed/' + PostSlugdelete + '/delete/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {}
            })
        })

        $('.btn-like-post').on('click', function (e) {
            e.preventDefault();
            var UrlLikePost = $(this).data('like-post-url')

            $.ajax({
                url: UrlLikePost,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {}
            })
        })
    });

    $('.btn-dislike-post').on('click', function (e) {
        e.preventDefault();

        var UrlDisikePost = $(this).data('dislike-post-url')

        $.ajax({
            url: UrlDisikePost,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                window.location.reload();
            },
            error: function (xhr, textStatus, errorThrown) {}
        })
    })
</script>

{% endblock content %}