{% extends 'base.html'%}

{% block authentication%}

        <div class="col-7 grow d-flex flex-column">
            <div class="card border-0">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email_login" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email_login" name="email"
                                placeholder="email@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="password_login" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password_login" name="password"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary rounded-pill">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex align-items-center">
            <p class="fs-3 fw-regular">Seja bem vindo novamente.</p>
        </div>
{% endblock authentication%}