{% extends 'base.html'%}
{% block content %}
    
    
    {% if user.avatar %}
    <div id="avatar-profile-content">
        <img id='avatar-profile' src="{{ user.avatar.url }}" alt="Avatar">
    </div>
    {% else %}
        <p>No avatar available</p>
    {% endif %}
    <h2>{{ username }}</h2>
    <p>Followers: {{ num_followers }}</p>
    <p>Following: {{ num_following }}</p>

    <a href="{% url 'feed'%}"> voltar</a>

    <a href="{% url 'logout' %}">sair</a>

<!--    Com isso posso criar uma lista de seguidores e pessoas seguidas na mesma página!!! Use o Bootstrap! -->

<!--    <h3>Followers:</h3>-->
<!--    <ul>-->
<!--        {% for follower in followers %}-->
<!--            <li>{{ follower }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    -->
<!--    <h3>Following:</h3>-->
<!--    <ul>-->
<!--        {% for follower in following %}-->
<!--            <li>{{ followee }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

        

{% endblock%}