{% extends 'base.html' %}

{% block content %}
<div class="row d-flex flex-column align-items-center h-100 position-relative">
    <div class="col-12 col-lg-6 top-50 start-50 position-absolute translate-middle">
        <p class="fs-3">Cadastre-se</p>
        <div class="card border-0">
            <div class="card-body p-0">
                <form id="registrationForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="progress mb-4 mt-0" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 7px">
                        <div id="cadastro_progressbar" class="progress-bar" style="width: 33%"></div>
                    </div>
                    <div id="step1">
                        <div class="mb-3">
                            <label for="complete_name" class="form-label">Seu nome completo</label>
                            <input type="text" class="form-control obrigatorio" id="complete_name" name="complete_name" placeholder="Digite seu nome" required>
                            <small class="text-muted">*Digite seu nome*</small>
                        </div>
                        <div class="mb-3">
                            <label for="email_register" class="form-label">Endereço de email</label>
                            <input type="email" class="form-control obrigatorio" id="email_register" name="email" placeholder="email@example.com" required>
                            <small class="text-muted">*Digite um email válido*</small>
                        </div>
                    </div>
                    <div id="step2" style="display: none;">
                        <div class="mb-3">
                            <label for="birthday" class="form-label">Sua data de aniversário</label>
                            <input type="date" class="form-control obrigatorio" id="birthday" name="birthday" required>
                            <small class="text-muted">*Digite uma data válida*</small>
                        </div>
                    </div>
                    <div id="step3" style="display: none;">
                        <div class="mb-3">
                            <label for="profile_picture-choice" class="form-label">Escolha sua foto de perfil</label>
                            <div id="profile_picture-choice" class="list-group d-flex flex-row justify-content-center align-items-center gap-2">
                                <label class="list-group-item position-relative rounded-3">
                                    <input class="form-check-input me-1 position-absolute end-0 me-3" type="radio" name="listGroupRadio" value="" id="profile_picture_default" checked>
                                    Padrão
                                    <img src="{{MEDIA_URL}}/media/default_profile_picture/default_profile_picture.png" alt="" style="width: 80px;">
                                </label>
                                <p class="fs-5 fw-bold">ou</p>
                                <label class="list-group-item rounded-3" for="profile_picture_custom">
                                    <input type="radio" class="form-check-input" name="listGroupRadio" id="profile_picture_custom" value="custom">
                                    Personalizado
                                    <input type="file" class="form-control mt-2" id="profile_picture_import" name="profile_picture" disabled>
                                </label>
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de usuário</label>
                            <input type="text" class="form-control obrigatorio" id="username" name="username" placeholder="Digite seu nome de usuário" required>
                            <small class="text-muted">*Esse nome já está em uso*</small>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control obrigatorio" id="password" name="password" placeholder="Digite sua senha" required>
                            <small class="text-muted">*A senha deve conter, ao menos: *
                                <ul>
                                    <li>Letras</li>
                                    <li>Números</li>
                                    <li>Caracteres especiais</li>
                                </ul>
                            </small>
                        </div>
                    </div>
                    <div class="mb-3 d-flex gap-2">
                        <button type="button" class="btn btn-secondary rounded-pill" id="prevStep" style="display: none;">Voltar</button>
                        <button type="button" class="btn btn-primary rounded-pill" id="nextStep">Próximo</button>
                        <button type="submit" class="btn btn-primary rounded-pill" id="submitBtn" style="display: none;">Cadastrar-se</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    $('input[name="listGroupRadio"]').on('change', function () {
        if ($(this).val() === 'custom') {
            $('#profile_picture_import').prop('disabled', false);
        } else {
            $('#profile_picture_import').prop('disabled', true);
        }
    });
</script>


{% endblock content %}
