{% extends 'base.html' %}

{% block authentication %}



<!-- <input id="userId" type="text" name="userId" hidden value="{{user.id}}"> -->
<!-- <form id="editProfilePicture" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="dropend mx-sm-3 d-flex align-items-center">
        <button class="btn btn-secondary profile-picture-big dropdown-toggle p-0 border-primary border-0" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.profile_picture %}
            <img class='profile-picture' src="{{ user.profile_picture }}" alt="Profile picture">
            {% else %}
            <p>No profile_picture available</p>
            {% endif %}
        </button>
        <ul class="dropdown-menu p-1">
            <li class="d-flex justify-content-center">
                <label for="changeProfilePic" class="p-1">Change profile picture
                    <input type="file" id="changeProfilePic" multiple="" name="file_content" style="display: none;">
                </label>
                </label>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class='dropdown-item text-danger' href="{% url 'logout' %}">Remove profile picture</a></li>
        </ul>
    </div>
</form>

<div class="mb-3">
       <label for="profile_pictureUpload" class="form-label">Mudar foto de perfil</label>
       <input type="file" class="form-control" id="profile_pictureUpload" name="profile_picture">
   </div>
</div> -->


<div class="row">
    <div class="col-3">
        <form id="edituserForm" method="POST" enctype="multipart/form-data" action="{% url 'edit_user' user.username %}">
            {% csrf_token %}
            <div class="dropend mx-sm-3 d-flex align-items-center">
                <button class="btn btn-secondary profile-picture-big dropdown-toggle p-0 border-primary border-0" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile_picture %}
                    <img id="preview-profile-picture" class='profile-picture' src="{{ user.profile_picture }}"
                        alt="Profile picture">
                    {% else %}
                    <p>No profile_picture available</p>
                    {% endif %}
                </button>
                <ul class="dropdown-menu p-1">
                    <li class="d-flex justify-content-center">
                        <label for="ProfilePic" class="dropdown-item">Change profile picture
                            <input type="file" class="form-control" id="ProfilePic" name="file_content"
                                value="{{user.profile_picture}}" style="display: none;">
                        </label>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><button id="remove-profile-picture-btn" class='dropdown-item text-danger'>Remove profile
                            picture</button></li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
            </div>
        
            <button id="send_changes_btn" type="submit" class="btn btn-primary" style="display: none;">Salvar
                Alterações</button>
        </form>
    </div>
    
    
    
    <div class="col-9">
        <form id="edituserForm" method="POST" enctype="multipart/form-data" action="{% url 'edit_user' user.username %}">
            {% csrf_token %}
            <div class="dropend mx-sm-3 d-flex align-items-center">
                <button class="btn btn-secondary profile-picture-big dropdown-toggle p-0 border-primary border-0" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile_picture %}
                    <img id="preview-profile-picture" class='profile-picture' src="{{ user.profile_picture }}"
                        alt="Profile picture">
                    {% else %}
                    <p>No profile_picture available</p>
                    {% endif %}
                </button>
                <ul class="dropdown-menu p-1">
                    <li class="d-flex justify-content-center">
                        <label for="ProfilePic" class="dropdown-item">Change profile picture
                            <input type="file" class="form-control" id="ProfilePic" name="file_content"
                                value="{{user.profile_picture}}" style="display: none;">
                        </label>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><button id="remove-profile-picture-btn" class='dropdown-item text-danger'>Remove profile
                            picture</button></li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
            </div>
        
            <button id="send_changes_btn" type="submit" class="btn btn-primary" style="display: none;">Salvar
                Alterações</button>
        </form>
    </div>

</div>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-verify-choice">
    Launch demo modal
  </button> -->

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 fw-bold">Deseja escolher essa nova foto de perfil?</p>
            </div>
            <div class="modal-body">

                <div class="row">
                    <!-- <div class="col text-center">
                        <label class="profile-picture-regular">
                            <img id="old-profile-picture-preview" class="profile-picture" src="{{user.profile_picture}}"
                                alt="">
                        </label>
                    </div> -->
                    <div class="col-12 text-center">
                        <label class="profile-picture-regular">
                            <img id="new-profile-picture-preview" class="profile-picture" src="" alt="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="discardChanges" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" id="confirmChangeBtn" data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function (e) {


        //     var formData = new FormData($('#editProfilePicture'));
        //         var postSlug = $('#edit-post-slug').val();
        //         $.ajax({
        //             url: 'user/edit/profile_picture/' + ,
        //             type: 'POST',
        //             data: formData,
        //             processData: false,
        //             contentType: false,
        //             success: function (data) {
        //                 window.location.reload();
        //             },
        //             error: function (xhr, textStatus, errorThrown) {}
        //         });
        // })


        $('input').on('change', function (e) {
            e.preventDefault();
            if ('{{ user.username }}' == $('#username').val() && '{{ user.profile_picture.name }}' == $('#ProfilePic').val()) {
                $('#send_changes_btn').css('display', 'none')
            } else {
                $('#send_changes_btn').css('display', 'block')
            }

        })



        $('#ProfilePic').on('change', function (e) {
            // var reader = new FileReader();
            // reader.onload = function (e) {
            //     var imageUrl = e.target.result;

            // };
            // reader.readAsDataURL(files);



            var file = e.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview-profile-picture').attr('src', e.target.result)
                    $('#new-profile-picture-preview').attr('src', e.target.result)
                }
                reader.readAsDataURL(file);
            }
            $('#confirmationModal').modal('show');

        })

        $('#remove-profile-picture-btn').on('click ', function (e) {
            e.preventDefault()

            $.ajax({
                url: '{% url "remove_profipic" %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {},
                error: function (xhr, textStatus, errorThrown) {}
            });

        });



        $('#deletePost').on('click', function (e) {
            e.preventDefault();

            var PostSlugdelete = $(this).data('post-delete-slug')

            $.ajax({
                url: '/posting/feed/' + PostSlugdelete + '/delete/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {}
            })



            $('#discardChanges').on('click', function (e) {
                e.preventDefault();
                window.location.reload();
            })


            // $('#edituserForm').on('submit', function (e) {
            //     e.preventDefault();

            //     var formImageData = new FormData($('#editProfilePicture'));
            //     $.ajax({
            //         url: 'user/edit/profile_picture/{{user.username}}/',
            //         type: 'POST',
            //         data: formImageData,
            //         processData: false,
            //         contentType: false,
            //         success: function (data) {
            //             window.location.reload();
            //         },
            //         error: function (xhr, textStatus, errorThrown) {}
            //     });

            // var formUserData = new FormData($('#edituserForm'));
            // $.ajax({
            //     url: 'user/edit/{{user.username}}/',
            //     type: 'POST',
            //     data: formUserData,
            //     processData: false,
            //     contentType: false,
            //     success: function (data) {
            //         window.location.reload();
            //     },
            //     error: function (xhr, textStatus, errorThrown) {}
            // });



        })
    })
</script>


{% endblock authentication %}