{% extends 'base.html'%}

{% block content %}

<div class="col d-flex flex-column flex-md-column align-items-md-start align-items-center">
    {% if user.profile_picture %}
    <div class="profile-picture-big">
        <img class='profile-picture' src="{{ user.profile_picture }}" alt="profile_picture">
    </div>
    {% endif %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center gap-2">
            <h2>{{ username }}</h2>
            <a id="btn-editar-perfil" href="{% url 'edit_user' user.username %}" style="height: 25px !important;" class="btn btn-sm btn-outline-secondary py-0 rounded-pill">Editar perfil</a>
            <!-- <a class="btn dropdown-item border-1" data-bs-toggle="modal"
data-bs-target="#createPostModal"> New Post</a> -->
        </div>
        <div class="f-flex flex-column">
            <p>Followers: {{ num_followers }}</p>
            <p>Following: {{ num_following }}</p>
            <a class="btn btn-outline-danger rounded-pill" href="{% url 'logout' %}">sair</a>
        </div>
    </div>
</div>





<!-- <script>
    $(document).ready(function(){
        $('#edituserForm').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            var userId = $('#userId').val();
            $.ajax({
                url: '/posting/account/1/',
                type: 'PUT',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {}
            });
        });
    })
</script> -->

{% endblock content %}