#testeh2{
    color: red !important;
}
.grow{
    flex-grow: 1;
}

header{
  width: 100vw;
  z-index: 1;
  background-color: white;
}

.invalido {
  border: 1px solid #ff0000; }

.text-muted {
  display: none; }

small.text-muted {
  color: blue !important; }

.profile-picture-small{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-regular{
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-big{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-comment{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.text-body-secondary{
  font-size: 12px !important;
}

.profile-picture{
  width: 100%;
}

#texto{
  color:#f00;
}

.post_image{
  width: 100%;
}

.remove_img_btn{
  padding: 10px;
  border-radius: 50%;
}

.card-footer, .card-header{
  background: none;
}

#texto_teste{
  font-size: 10rem !important;
}

#editPostModal .modal-content{
  height: 30rem;
}

#text_content{
  height: 100% !important;
  resize: none;
}

/* #createPostModalcontent{
  height: 20rem !important;
} */

/* #carouselCreatePostImage{
  height: 50rem;
} */

#user-painel{
  background-color: white;
  padding: 2.5rem;
  border-radius: 20px;
  color: black;
  position: fixed;
  top: 80px;
  transition: .2s;
}

.scrolled{
  background-color: gray !important;
  color: white !important;
  -webkit-box-shadow: 0px 0px 56px -7px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 56px -7px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 56px -7px rgba(0,0,0,0.25);
}


@media (max-width: 768px){
  #user-painel{
    position: relative;
  }

}

